.sam-progressbar {
	position: fixed;
	top: 0;
}
.fixedwithscroll {
	max-height: 300px;
	min-height: 300px;
	padding: 0 !important;
}
.fixedwithscroll select {
	max-height: 300px;
	min-height: 300px;
	padding: 0 !important;
	border: none;
}
.fixedwithscroll select option {
	padding: 5px;
}
.width-100 {
	width: 100%;
}
.sm-btn {
	border-radius: 50%;
	height: 35px;
	width: 35px;
	vertical-align: middle;
}
.sm-btn i {
	display: inline-block;
	text-align: center;
}

.txt-left {
	text-align: left;
}

.makes-selected {
	background-color: #e2dff5;
}

.height-200 {
	height: 200px;
	width: 100%;
	cursor: pointer;
}

.img_site {
	display: inline;
    float: left;
    margin-top: 5px;
    background-color: #fff;
    margin-right: 10px;
}

.custom_msg{
	color: red;
    font-size: 11px;
    font-family: monospace;
}