/* CSS Document */

body{
	margin:0px auto;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
}

.menuTXT{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#006699;
	text-decoration:none;
}

.menuTXT a{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#006699;
	text-decoration:none;
}

.menuTXT a:hover{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#990000;
	text-decoration:none;
}